*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-wrapper{
    display: flex;
}

.instagram-phone{
    background: url("./img/smartphone.png");
    background-repeat: no-repeat;
    height: 581.15px;
    width: 467px;
    margin-right: 32px;
    
}

.instagram-phone img{
    margin-left: 155px;
    margin-top: 25px;
    margin-right: 18px;
}
.instagram-logo{
    max-height: 100%;
    max-width: 100%;
    width: 175px;
}

.instagram-container .group-login{
    width: 410px;
    height: 332px;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-container .instagram-registration{
    width: 410px;
    height: 63px;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
}

.instagram-container .instagram-registration p{
    text-align: center;
}


.instagram-container .group-login .profile-photo{
    background: url("./img/profile.jpg");
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-position: -48px -12px;
    margin-top: 25px;
}

.instagram-container .group-login .btn-continue{
    display: block;
    margin-top: 25px;
    text-decoration: none;
    height: 30px;
    padding: 4px 12px;
    color: white;
    background: #0d8bf2;
    border-radius: 4px;
}

.instagram-container .group-login .btn-remove{
    color: #0d8bf2;
    text-decoration: none;
    margin-top: 25px;
    font-family: sans-serif;
}